@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.profileText {
    position: relative;
    display: flex;
    align-items: center;
}
.icon {
  display: inline-block;
}